services:
#  app:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    ports:
#      - '8080:8080'
#    environment:
#      - 'DATABASE_URL=jdbc:postgresql://docker:docker@postgres:5432/mydatabase'
#    depends_on:
#      - postgres
#    networks:
#      - app-network

  postgres:
    image: 'postgres:latest'
    networks:
      - app-network
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=docker'
      - 'POSTGRES_USER=docker'
    ports:
      - '5432:5432'

networks:
  app-network:
    driver: bridge